{% load static %}

<!DOCTYPE html>
<html>
<head>


	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
	<!-- Compiled and minified JavaScript -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<link href="{% static 'css/prism.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Index</title>
</head>
<style>
nav{
	width: 100%;

	font-family: 'Didact Gothic';
	background-color: #181d27;
	
}
.breadcrumb{
	background-color: #181d27;

} 
.breadcrumb-item a{
	color:white;
	text-decoration: none;
	font-size: 26px;
}
body{
	background-color: #254d32;
	
	overflow-x: hidden;
	font-family: 'Didact Gothic';
}
.card{
	background-color: #d0db97;

}
.card-body{
	font-size: 18px;
	font-family: 'Didact Gothic'; 
}
a { 
	color: inherit !important;
	text-decoration: none !important;
	}
</style>


<body>
<nav>
    <div class="nav-wrapper">
      
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="\">Home</a></li>
        <li><a href="\recipe_base\">Create Recipes</a></li>
        <li><a href="\food_base\">Edit/View Inventory</a></li>
        <li><a href="\plan_base\">Meal Planner</a></li>
      </ul>
    </div>
  </nav>
<div class="row">
	<div class="col-lg-4">
	<div class="card">
	  
	  <div class="card-body">
	    
	    <p class="card-text"></p>

	  </div>
	</div>
	</div>
	<div class="col-lg-4">
	<div class="card">
	  
	  <div class="card-body">
	    
	    <p class="card-text"></p>

	  </div>
	</div>
	</div>
	<div class="col-lg-4">
	<div class="card">
	  
	  <div class="card-body">
	    
	    <p class="card-text"></p>

	  </div>
	</div>
	</div>

</div>





</body>
</html>